::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(71.66deg, #ffffff -2.97%, #0fa9ff 111.3%);
}

.gridContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 0.5rem; */
}

.head {
  background: linear-gradient(71.66deg, #ffffff -2.97%, #0fa9ff 111.3%);
  padding: 5px;
  border-radius: 5px;
}
